<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

    
  <!-- <%for(var i=0;i<capsules.length;i++){%>
    <div>
        Capsule Name is <%=capsules[i]._id%> 
        <br>
        Capsule Origin is :  <%=capsules[i].origin%>
        <br>
        Capsule Type is :  <%=capsules[i].type%>
        <br>
        Capsule Intensity is :  <%=capsules[i].intensity%>
        <br>
        Capsule Flavor is :  <%=capsules[i].flavor%>
        <br>
        Capsule Price is :  <%=capsules[i].price%>
        <br>
        <img class="card-img-top" style="width:200px" height="200px" src="<%= capsules[i].image %>"  />
    </div>
    <br>
    
<%}%> -->

<div class="container" id="capsule2">
    <h1>All capsules</h1>
 
     <form action="/allcapsules" method="post">
       <div class="sorting-container">
         <label for="sorting">Sort By:</label>
         <select id="sorting" name="sorting">
           <option value="capsule-name">Name</option>
           <option value="capsule-price">Price</option>
           <option value="capsule-brand">Brand</option>
         </select>
       </div>
       <button type="submit">Click to sort</button>
     </form>
   </div>
   <form class="row" action="/allcapsules/Addto" method="post">
     <div class="col">
       <% capsules.forEach(function(capsule) { %>
         <div class="card" style="width:400px;height: 620px;" id="capsules">
           <% if (capsule.image) { %>
             <img class="card-img-top" style="width:200px" height="200px" src="<%= capsule.image %>" alt="<%= capsule["_id"] %> Image" />
           <% } else { %>
             <p>No image available</p>
           <% } %>
           <div class="card-body">
             <h2 class="card-title"><%= capsule["_id"] %></h2>
             <p class="card-text">Price: $<%= capsule.price %></p>
             <p class="card-text">Origin: <%= capsule.origin %></p>
             <p class="card-text" id="description"><%= capsule.flavor %></p>
             <div class="button-container2">
               <button class="btn btn-primary" type="submit" name="action" value="cart:<%= capsule["_id"] %>">Add to Cart List</button>
               <button class="btn btn-primary" type="submit" name="action" value="wishlist:<%= capsule["_id"] %>">Add to Wish List</button>
               <a class="btn btn-primary" href="/show1capsule/<%= capsule['_id'] %>">capsule page</a>
             </div>
           </div>
         </div>
       <% }); %>
     </div>
   </form>




  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>