<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="shop.css">

    <title>Secret Coffee - Shop</title>

</head>
<body>
    <%- include('./header.ejs');%>
    <div class="container-fluid">
    <center><h1>Shop Page</h1>></center>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
            <% capsules.forEach(function(capsule) { %>
            <div class="col mb-4">
                <div class="card">
                    <% if (capsule.image) { %>
                    <a href="/show1capsule/<%= capsule['_id'] %>">
                        <img class="card-img-top" src="<%= capsule.image %>" alt="<%= capsule["_id"] %> Image" />
                    </a>
                    <% } else { %>
                    <p>No image available</p>
                    <% } %>
                    <div class="card-body">
                        <h2 class="card-title"><%= capsule["_id"] %></h2>
                        <p class="card-text">Price: $<%= capsule.price %></p>
                        <p class="card-text">Origin: <%= capsule.origin %></p>
                        <p class="card-text" id="description"><%= capsule.flavor %></p>
                        <div class="button-container2">
                            <form method="POST" action="/cart/Addto">
                                <input type="hidden" name="productId" value="<%= capsule['_id'] %>">
                                <button class="btn btn-primary" type="submit" name="action" value="cart:<%= capsule["_id"] %>">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    
</div>

<div id="searchResultsContainer" class="container-fluid">
    <!-- The search results will be loaded here via AJAX -->
</div>
    <footer id="footerRights" class="bg-light">
    All rights reserved to: Ofek Amirav, Nitzan Naveh, Aviv Portal, Hani Pardilov ®
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script> 
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="/services/shopService.js"></script> 

</body>
</html>
