<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>capsule</title>
     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
     <link rel="stylesheet" href="/capsule.css">


</head>
  <body>

    <%- include('./header.ejs');%>


<!-- המוצר -->
<form action="/show1capsule/Addto" method="post">
  
      
        <h2 class="capsule-name" id="head"><%= capsule["_id"] %></h2>
        <div class="row" id="capsule">
        <div class="col-sm-8">
        <div class="desc">
        <div class="details">
        <p >Price: $<%= capsule.price %></p>
        <p >Intensity: <%= capsule.intensity %></p>
        <p >Flavor: <%= capsule.flavor %></p>
        
        <p class="capsule-description"><%= capsule.origin %></p>
      </div>
        </div>
        </div>
       
      <div class="col-sm-8">
        <div class="cont">
            <% if (capsule.image) { %>
              <div class="image-container">
          <img width="400px" height="400px" class="capsule-image" src="<%= capsule.image %>" alt="<%= capsule["_id"] %> Image" />
        <% } else { %>
          <p>No image available</p>
        <% } %>
        
      </div></div></div></div>
        <div class="row">
        <div class="col-sm-8" id="capsule">
          <div class="button-container">
            <button class="btn btn-primary" type="submit" name="action" value="cart:<%= capsule["_id"] %>">Add to Cart List</button>
        </div></div></div>
       
        
      
   
  </form>

     <!-- פוטר -->

   <!-- <script src="index.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script> 
  </body>
</html>
