<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>capsule</title>
     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
     <link rel="stylesheet" href="../public/capsule.css">
</head>
<style>
 
  body {
      display: grid;
      grid-template-rows: auto 1fr auto;
      min-height: 100vh;
  }

  .content {
      grid-row: 2;
  }
</style>
<body>

    <%- include('header.ejs');%>

<!-- product -->
<form id="addToCart" method="post">

  
        <!-- Updated HTML Structure -->
<div class="container product">
  <div class="row">
      <div class="col-md-6">
          <img src="<%= capsule.image %>" alt="<%= capsule["_id"] %> Image" class="img-fluid">
      </div>
      <div class="col-md-6">
          <h2><%=capsule.Name%></h2>
          <br>
          <p><strong>Intensity:</strong> <%= capsule.intensity %></p>
          <p><strong>Flavor:</strong> <%= capsule.flavor %></p>
          <p><strong>Price:</strong> $<%= capsule.price %></p>

          <p><strong>Coffee origin:</strong> <%= capsule.origin %></p>
          <button id="button_cart" class="btn btn-primary" type="submit" id="addToCart" name="action" value="cart:<%= capsule["_id"] %>">Add to Cart</button>

      </div>
  </div>
</div>


      <div class="col-sm-8">
        <div class="cont">
            <% if (capsule.image) { %>
              <div class="image-container">
        <% } else { %>
          <p>No image available</p>
        <% } %>
        
      </div></div></div></div>
           
             
   
  </form>

  <%- include('./footer.ejs');%>

   <!-- <script src="index.js"></script> -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.7.0.js"></script> 
   <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
   <script src="../public/Js/capsule.js"></script>
  </body>
</html>
